.btn {
  color: $text-color;
}
button:nth-of-type(1) {
  background-color: $first-btn;
}
button:nth-of-type(2) {
  background-color: $second-btn;
}
button:nth-of-type(3) {
  background-color: $third-btn;
}
