body {
  font-family: $font-family;
}

nav {
  @include gettingCentered;
  @include sameSpace;
  ul {
    @media screen and (min-width: 576px) {
      display: flex;
    }
  }
  li {
    @include sameSpace;
  }
}

.head-liner {
  @include gettingCentered;
  flex-direction: column;
  padding: $main-padding;
  h1 {
    font-size: 2em;
  }
}
.head-liner h1,
p,
article {
  margin: $main-margin;
}
