#hero article img {
  width: 300px;
  @media screen and (min-width: 370px) {
    width: 400px;
  }
  @media screen and (min-width: 576px) {
    width: 500px;
  }
}
#hero {
  color: $text-color;
  @include gettingCentered;
  background-color: $bg-hero;
  article {
    @media screen and (min-width: 720px) {
      display: flex;
      align-items: center;
    }
  }
}
